<div class="post-body">
  <%= attachment_image_tag @book, :image %>
  <%= attachment_image_tag post_comment.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
  <p>Title：<%= @book.title %></p>
  <p>Opinion：<%= @book.opinion %></p>
  <p>ユーザーネーム：<%= @book.user.name %></p>
  <p>投稿日時：<%= @book.created_at.strftime('%Y/%m/%d') %></p>
  <% if @book.user == current_user %>
  <%= link_to "削除", book_path(@book), method: :delete %>
  <% end %>
</div>